@model FullStackTechTest.Models.Home.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div>
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Upload">
            <div class="row">
                <div class="col">
                    
                    <input type="file" name="files" multiple class="form-control" accept="application/json" id="selectfiles" style="display:hidden;" />
                    
                </div>
                <div class="col">
                    <input type="submit" value="Import" class="form-control" />
                </div>
            </div>
            
        </form>

    </div>
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var person in Model.PeopleList)
        {
            <tr class="clickable-row" data-href="@Url.Action("Details", new { id = person.Id})">
                <td>@person.Id</td>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
            </tr>
        }
        </tbody>
    </table>
    
</div>